address {
	font-style: italic;
	display: block;
}
.main_content {
	border: 1px solid #ccc;
	background: #fff;
	margin: 0;
	_margin: 0 0 0 3px;
	padding: 7px 3px;
	overflow: hidden;
	_height: 1%;
	top: -1px;
	border-radius: 0 12px 12px 12px;
}
.wp-caption img {
	border-color: #eee;
}

.wp-caption a:focus img, .wp-caption a:active img, .wp-caption a:hover img {
	background: #fff;
	border-color: #ddd;
}

img[class*="align"], img[class*="wp-image-"], #content .gallery .gallery-icon img {
border: 1px solid #ddd;
padding: 6px;
}

.wp-caption img {
	display: block;
	margin: 0 auto;
	max-width: 98%;
}

img[class*="wp-image-"] {
	height: auto;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}